<!-- inherit from base_template.html-->
{% extends "golfers_unite_app/base_template.html" %}

{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to Golfers Unite!</h1>
            <p>This is a community for golfers to connect, share experiences, and improve their game together.</p>
            <p>Join us today and start connecting with fellow golf enthusiasts!</p>
            <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock %}
