{% extends "golfers_unite_app/base_template.html" %}

{% block content %}
<div class="container">
  <h2 class="text-white">Login</h2>
  <form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
      <label for="id_username" class="form-label text-white">Username</label>
      <input type="text" name="username" id="id_username" class="form-control form-control-lg">
    </div>
    <div class="mb-3">
      <label for="id_password" class="form-label text-white">Password</label>
      <input type="password" name="password" id="id_password" class="form-control form-control-lg">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Login</button>
  </form>
</div>
{% endblock %}
